modules = ["nodejs-20"]
run = "pnpm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "pnpm start"]

[[ports]]
localPort = 3000
externalPort = 80

[env]
XDG_CONFIG_HOME = "$REPL_HOME/.config"
PATH = "$REPL_HOME/.config/npm/node_global/bin:$REPL_HOME/node_modules/.bin"
